In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime
%matplotlib inline
sns.set(color_codes=True)

In [6]:
#importation du dataset en utilisant pandas
covid_df=pd.read_csv('C:/Users/Lenovo/Desktop/Data analytics Excel/covid_19_india.csv')

In [28]:
covid_df.head(17)

,Date,place,Cured,Deaths,Confirmed,Active_case
0,13/04/20,Andaman and Nicobar Islands,10,0,11,1
1,13/04/20,Arunachal Pradesh,0,0,1,1
2,13/04/20,Assam,0,1,31,30
3,13/04/20,Bihar,26,1,64,37
4,13/04/20,Chandigarh,7,0,21,14
5,13/04/20,Chhattisgarh,10,0,31,21
6,13/04/20,Delhi,27,24,1154,1103
7,13/04/20,Goa,5,0,7,2
8,13/04/20,Gujarat,47,26,539,466
9,13/04/20,Haryana,29,3,185,153
10,13/04/20,Himachal Pradesh,13,1,32,18
11,13/04/20,Jammu and Kashmir,6,4,245,235
12,13/04/20,Jharkhand,0,2,19,17
13,13/04/20,Karnataka,59,6,247,182
14,13/04/20,Kerala,179,3,376,194
15,13/04/20,Ladakh,10,0,15,5
16,13/04/20,Madhya Pradesh,44,43,604,517

In [8]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5666 entries, 0 to 5665
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5666 non-null   object
 1   place      5666 non-null   object
 2   Cured      5666 non-null   int64
 3   Deaths     5666 non-null   int64
 4   Confirmed  5666 non-null   int64
dtypes: int64(3), object(2)
memory usage: 221.5+ KB

In [9]:
covid_df.describe()

              Cured        Deaths     Confirmed
count    5666.00000   5666.000000  5.666000e+03
mean    29105.45623    787.302153  4.022470e+04
std     79919.68586   2673.933916  1.063166e+05
min         0.00000      0.000000  0.000000e+00
25%       148.00000      2.000000  5.020000e+02
50%      1956.00000     32.000000  3.450000e+03
75%     16491.00000    400.750000  2.592875e+04
max    916348.00000  33015.000000  1.224380e+06

In [29]:
#format
covid_df.isnull().sum()

Date           0
place          0
Cured          0
Deaths         0
Confirmed      0
Active_case    0
dtype: int64

In [33]:
#format date
covid_df['Date']=pd.to_datetime(covid_df['Date'],format='%Y-%m-%d')

In [38]:
#Creation Pivot Tables Very important
statewise=pd.pivot_table(covid_df,values=['Confirmed','Cured','Deaths'],index='place',aggfunc=max)
statewise.head()

                                 Confirmed          Cured       Deaths
place
Andaman and Nicobar Islands     912.184049     691.644172    11.711656
Andhra Pradesh               138186.746914  101882.580247  1271.154321
Arunachal Pradesh              1428.104294     954.576687     2.613497
Assam                         37059.435583   28013.226994   104.576687
Bihar                         45187.638037   36244.613497   230.453988

In [49]:
statewise['Recovery_Rate']=(statewise['Cured']*100/statewise['Confirmed'])
statewise['Mortality_Rate']=(statewise['Deaths']*100/statewise['Confirmed'])
statewise.head()

,Confirmed,Cured,Deaths,Recovery_Rate,Mortality_Rate
place,,,,,
Andaman and Nicobar Islands,912.184049,691.644172,11.711656,75.822875,1.283914
Andhra Pradesh,138186.746914,101882.580247,1271.154321,73.728185,0.919882
Arunachal Pradesh,1428.104294,954.576687,2.613497,66.842225,0.183005
Assam,37059.435583,28013.226994,104.576687,75.589999,0.282186
Bihar,45187.638037,36244.613497,230.453988,80.209135,0.509993

In [52]:
statewise=statewise.sort_values(by='Confirmed', ascending=False)
statewise.head()

,Confirmed,Cured,Deaths,Recovery_Rate,Mortality_Rate
place,,,,,
Maharashtra,328602.214724,216850.030675,10822.521472,65.991652,3.293502
Tamil Nadu,170040.171779,136078.202454,2730.717791,80.027091,1.605925
Andhra Pradesh,138186.746914,101882.580247,1271.154321,73.728185,0.919882
Karnataka,113273.963190,75902.276074,1901.846626,67.007699,1.678980
Delhi,89688.104294,73028.699387,2401.263804,81.425179,2.677349

In [53]:

#styling a pivot table very interesting
statewise.style.background_gradient(cmap='cubehelix')

In [27]:
#to calculated active cases
covid_df['Active_case']=covid_df['Confirmed']-(covid_df['Cured']+covid_df['Deaths'])

In [54]:
#Top 10 active cases
top_10_active_cases=covid_df.groupby(by='place').max()[['Active_case','Date']]

In [23]:
vaccine_df=pd.read_csv('C:/Users/Lenovo/Desktop/Data analytics Excel/covid_vaccine_statewise.csv')

In [11]:
vaccine_df.head(9)

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
5,21/01/2021,India,365965.0,32226.0,12600.0,365965.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,132784.0,233143.0,38.0,365965.0
6,22/01/2021,India,549381.0,36988.0,14115.0,549381.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,193899.0,355402.0,80.0,549381.0
7,23/01/2021,India,759008.0,43076.0,15605.0,759008.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,267856.0,491049.0,103.0,759008.0
8,24/01/2021,India,835058.0,49851.0,18111.0,835058.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,296283.0,538647.0,128.0,835058.0

In [12]:
vaccine_df.describe()

,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
count,7.621000e+03,7.621000e+03,7621.000000,7.621000e+03,7.621000e+03,7.461000e+03,7.461000e+03,7461.000000,7.621000e+03,7.621000e+03,...,1.702000e+03,1.702000e+03,1.702000e+03,3.733000e+03,3.734000e+03,3.734000e+03,1.600000e+02,1.600000e+02,160.000000,5.919000e+03
mean,9.188171e+06,4.792358e+05,2282.872064,7.414415e+06,1.773755e+06,3.620156e+06,3.168416e+06,1162.978019,1.044669e+06,8.126553e+06,...,8.773958e+06,7.442161e+06,5.641605e+06,1.395895e+06,2.916515e+06,2.627444e+06,4.461687e+07,3.951018e+07,12370.543750,4.547842e+06
std,3.746180e+07,1.911511e+06,7275.973730,2.995209e+07,7.570382e+06,1.737938e+07,1.515310e+07,5931.353995,4.452259e+06,3.298414e+07,...,2.660829e+07,2.225999e+07,1.681650e+07,5.501454e+06,9.567607e+06,8.192225e+06,3.950749e+07,3.417684e+07,12485.026753,1.834182e+07
min,7.000000e+00,0.000000e+00,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000,0.000000e+00,7.000000e+00,...,2.662400e+04,1.681500e+04,9.994000e+03,1.059000e+03,1.136000e+03,5.580000e+02,2.375700e+04,2.451700e+04,2.000000,7.000000e+00
25%,1.356570e+05,6.004000e+03,69.000000,1.166320e+05,1.283100e+04,5.655500e+04,5.210700e+04,8.000000,0.000000e+00,1.331340e+05,...,4.344842e+05,2.326275e+05,1.285605e+05,5.655400e+04,9.248225e+04,5.615975e+04,5.739350e+06,5.023407e+06,1278.750000,7.427550e+04
50%,8.182020e+05,4.547000e+04,597.000000,6.614590e+05,1.388180e+05,3.897850e+05,3.342380e+05,113.000000,1.185100e+04,7.567360e+05,...,3.095970e+06,2.695938e+06,1.805696e+06,2.947270e+05,8.330395e+05,7.887425e+05,3.716590e+07,3.365402e+07,8007.500000,4.022880e+05
75%,6.625243e+06,3.428690e+05,1708.000000,5.387805e+06,1.166434e+06,2.735777e+06,2.561513e+06,800.000000,7.579300e+05,6.007817e+06,...,7.366241e+06,6.969726e+06,5.294763e+06,9.105160e+05,2.499280e+06,2.337874e+06,7.441663e+07,6.685368e+07,19851.000000,3.501562e+06
max,5.132284e+08,3.501031e+07,73933.000000,4.001504e+08,1.130780e+08,2.701636e+08,2.395186e+08,98275.000000,6.236742e+07,4.468251e+08,...,2.243304e+08,1.667575e+08,1.186927e+08,9.224315e+07,9.096888e+07,6.731098e+07,1.349420e+08,1.156684e+08,46462.000000,2.506569e+08

In [13]:
vaccine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7845 entries, 0 to 7844
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           7845 non-null   object
 1   State                                7845 non-null   object
 2   Total Doses Administered             7621 non-null   float64
 3   Sessions                             7621 non-null   float64
 4    Sites                               7621 non-null   float64
 5   First Dose Administered              7621 non-null   float64
 6   Second Dose Administered             7621 non-null   float64
 7   Male (Doses Administered)            7461 non-null   float64
 8   Female (Doses Administered)          7461 non-null   float64
 9   Transgender (Doses Administered)     7461 non-null   float64
 10   Covaxin (Doses Administered)        7621 non-null   float64
 11  CoviShield (Doses Administered)      7621 non-null   float64
 12  Sputnik V (Doses Administered)       2995 non-null   float64
 13  AEFI                                 5438 non-null   float64
 14  18-44 Years (Doses Administered)     1702 non-null   float64
 15  45-60 Years (Doses Administered)     1702 non-null   float64
 16  60+ Years (Doses Administered)       1702 non-null   float64
 17  18-44 Years(Individuals Vaccinated)  3733 non-null   float64
 18  45-60 Years(Individuals Vaccinated)  3734 non-null   float64
 19  60+ Years(Individuals Vaccinated)    3734 non-null   float64
 20  Male(Individuals Vaccinated)         160 non-null    float64
 21  Female(Individuals Vaccinated)       160 non-null    float64
 22  Transgender(Individuals Vaccinated)  160 non-null    float64
 23  Total Individuals Vaccinated         5919 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1.4+ MB

In [14]:
vaccine_df.isnull().sum()

Updated On                                0
State                                     0
Total Doses Administered                224
Sessions                                224
 Sites                                  224
First Dose Administered                 224
Second Dose Administered                224
Male (Doses Administered)               384
Female (Doses Administered)             384
Transgender (Doses Administered)        384
 Covaxin (Doses Administered)           224
CoviShield (Doses Administered)         224
Sputnik V (Doses Administered)         4850
AEFI                                   2407
18-44 Years (Doses Administered)       6143
45-60 Years (Doses Administered)       6143
60+ Years (Doses Administered)         6143
18-44 Years(Individuals Vaccinated)    4112
45-60 Years(Individuals Vaccinated)    4111
60+ Years(Individuals Vaccinated)      4111
Male(Individuals Vaccinated)           7685
Female(Individuals Vaccinated)         7685
Transgender(Individuals Vaccinated)    7685
Total Individuals Vaccinated           1926
dtype: int64